<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534364307070-ikciummnulvutttch2ugg801dgg28elp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534364307070-ikciummnulvutttch2ugg801dgg28elp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534364307070-ki8ksipjrfle51kgdqcbqngkuss2tclh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYujFxuvyGKz3svHElMbYr5JyU_ROj6y8</string>
	<key>GCM_SENDER_ID</key>
	<string>534364307070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drb.driver</string>
	<key>PROJECT_ID</key>
	<string>drb-sa</string>
	<key>STORAGE_BUCKET</key>
	<string>drb-sa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534364307070:ios:dd58cda32c0811a23e222f</string>
	<key>DATABASE_URL</key>
	<string>https://drb-sa-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>